@font-face {
  font-family: 'Montserrat';
  src: url('../styles/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.bannerApropos {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 50px 80px 50px 80px;
  border-radius: 25px;
  position: relative;
  background-image: url(../assets/imageApropos.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
}
.imgBanner {
  width: 100%;
  height: 223px;
}
.accordions {
  width: 70%;
}
.contentApropos {
  padding-top: 10px;
  font-size: 24px;
  line-height: 142%;
  margin: 0px;
}
.titleAccordion {
  margin: 0px;
  font-size: 24px;
}
.header {
  font-size: 24px;
  color: white;
  height: 35px;
  width: 80%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
}

/* Responsive Tablette */
@media screen and (max-width: 1023px) {
}

/* Responsive Téléphone */
@media screen and (max-width: 767px) {
  #root {
    min-width: 375px;
  }
  .bannerApropos {
    margin: 20px 20px 20px 20px;
    background-image: url(../assets/banniereAproposPhone.png) !important;
  }
  .accordions {
    width: 100%;
  }
  .titleAccordion {
    font-size: 13px;
  }
  .contentApropos {
    font-size: 12px;
  }
}
