@font-face {
  font-family: 'Montserrat';
  src: url('../styles/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
.error {
  font-family: Montserrat;
  color: #ff6060;
  font-size: 288px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0px;
}
.containerError {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoError {
  margin-top: 10%;
}
.textError {
  font-family: Montserrat;
  color: #ff6060;
  font-size: 36px;
}
.link {
  padding-top: 100px;
  padding-bottom: 100px;
}
.linktext {
  font-family: Montserrat;
  font-size: 18px;
}

/* Responsive Tablette */
@media screen and (max-width: 1023px) {
  .error {
    font-size: 150px;
  }
  .textError {
    font-size: 25px;
  }
}

/* Responsive Téléphone */
@media screen and (max-width: 767px) {
  .error {
    font-size: 96px;
    margin-top: 100px;
  }
  .textError {
    font-size: 18px;
  }
  .textError {
    width: 70%;
  }
  .linktext {
    font-size: 14px;
  }
  #root {
    min-width: 375px;
  }
}
