.card {
  margin: 50px 30px 0px 30px;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
/* Responsive Tablette */
@media screen and (max-width: 1023px) {
}

/* Responsive Téléphone */
@media screen and (max-width: 767px) {
  .card {
    margin: 10px 20px 10px 20px;
    height: 255px;
    width: auto;
  }
  #root {
    min-width: 320px;
  }
}
